<div id="dailyItems-container" style="color: white;" ng-controller="DailyController">
    <header style="text-align:center;">
        <h1 ng-click="filterItems('Music')" class="dailyButton" id="Music" >Musiikki</h1>
        <h1 ng-click="filterItems('News')" class="dailyButton" id="News" >Uutiset</h1>
        <h1 ng-click="filterItems('Spiritual')" class="dailyButton" id="Spiritual" >Hengelliset</h1>
        <h1 ng-click="filterItems('Story')" class="dailyButton" id="Story" >Tarinat</h1>
        <h1 ng-click="filterItems('Game')" class="dailyButton" id="Game" >Pelit</h1>
        <h1 ng-click="filterItems('Exercise')" class="dailyButton" id="Exercise" >Jumpat</h1>
        <h1 ng-click="filterItems('Radio')" class="dailyButton" id="Radio" >Radio</h1>
    </header>
    <div style="width: 100%;" class="playlist table-responsive">
        <table class="table table-condensed table-striped table-inverse">
            <thead>
                <tr class="bigger">
                    <th ng-show="dailyItems[0] != null">Esittäjä</th>
                    <th ng-show="dailyItems[0] != null && viewState == 'Music' || viewState == 'Radio'">Kappale</th>
                    <th ng-show="dailyItems[0] != null">Kesto</th>
                    <th ng-show="">Lisätietoja</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dailyItems" class="bigger">
                    <td>{{item.musicPieceArtist != null ? item.musicPieceArtist : item.audioProgramName}}</td>
                    <td ng-show="dailyItems[0] != null && viewState == 'Music' || viewState == 'Radio'">{{item.musicPieceName != null ? item.musicPieceName : null }}</td>
                    <td style="display: inline-block; min-width: 150px;">{{item.musicPieceArtist != null ? item.musicPieceLength : item.audioProgramLength | trackTime}}
                    <img class="searchPlay" style="width: 30%; height: 30%; display: inline-block; margin-top: 0px;" src="../images/play.svg" ng-click="loadPlaylist(res, $index)"> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>