<div id="dailyItems-container" style="color: white;" ng-controller="DailyController">
    <header style="text-align:center;">
        <h1 ng-click="filterItems('Music')" style="display: inline-block;">Musiikki</h1>
        <h1 ng-click="filterItems('News')" style="display: inline-block;">Uutiset</h1>
        <h1 ng-click="filterItems('Spiritual')" style="display: inline-block;">Hengelliset</h1>
        <h1 ng-click="filterItems('Story')" style="display: inline-block;">Tarinat</h1>
        <h1 ng-click="filterItems('Game')" style="display: inline-block;">Pelit</h1>
        <h1 ng-click="filterItems('Exercise')" style="display: inline-block;">Jumpat</h1>
        <h1 ng-click="filterItems('Radio')" style="display: inline-block;">Radio</h1>
    </header>
    <div style="width: 100%;" class="playlist table-responsive">
        <table class="table table-condensed table-striped table-inverse">
            <thead>
                <tr class="bigger">
                    <th ng-show="dailyItems[0] != null">Esittäjä</th>
                    <th ng-show="dailyItems[0] != null && viewState == 'Music' || viewState == 'Radio'">Kappale</th>
                    <th ng-show="dailyItems[0] != null">Kesto</th>
                    <th ng-show="">Lisätietoja</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in dailyItems" class="bigger">
                    <td>{{item.musicPieceArtist != null ? item.musicPieceArtist : item.audioProgramName}}</td>
                    <td ng-show="dailyItems[0] != null && viewState == 'Music' || viewState == 'Radio'">{{item.musicPieceName != null ? item.musicPieceName : null }}</td>
                    <td>{{item.musicPieceArtist != null ? item.musicPieceLength : item.audioProgramLength | trackTime}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>