<div style="color: white;">
    <header>
    <h1 style="display: inline-block;">User X's playlist.</h1>
    <h1 style="display: inline-block;" id="headeri">Poista<img class="active-remove" style="float: right;" src="../images/bin.svg"></h1>
</header>
    <div style="width: 100%;" class="playlist table-responsive">
        <table class="table table-condensed table-striped table-inverse">
            <thead>
                <tr class="bigger">
                    <th>Artist</th>
                    <th>Track</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bigger">
                    <td>Johnny Cash</td>
                    <td>Ring of fire</td>
                    <td>4:46</td>
                </tr>
                <tr class="bigger">
                    <td>Alicia Keys</td>
                    <td>One</td>
                    <td>3:42</td>
                </tr>
                <tr class="bigger">
                    <td>Celine Dion</td>
                    <td>My heart will go on</td>
                    <td>5:12</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>