<div id="favourites-container" ng-controller="FavouritesController">
    <header>
        <h1 ng-click="getFromServer('musicpieces')">Kappaleet</h1>
        <h1 ng-click="getFromServer('recipes')" style="display: inline-block;">Reseptit</h1>
        <h1 ng-click="getFromServer('audioprograms')">Ohjelmat</h1>
        <h1 id="headeri" ng-click="checkView(); showDelete = !showDelete">Poista<img class="active-remove"  ng-src="../images/bin.svg"></h1>
    </header>
    <div style="width: 100%;" class="playlist table-responsive">
        <table class="table table-condensed table-striped table-inverse">
            <thead>
                <tr class="bigger">
                    <th ng-show="favourites[0].artist != null">Artist</th>
                    <th ng-show="favourites[0].artist != null">Track</th>
                    <th ng-show="favourites[0].artist == null">Name</th>
                    <th ng-show="favourites[0].length != null">Duration</th>
                    <th ng-show="viewState == 'recipes'">Description</th>
                </tr>
            </thead>
            <tbody  ng-repeat="fav in favourites">
                <tr class="bigger">
                    <td class="favArtist" data-toggle="collapse" data-target=".desci-{{$index}}" ng-show="favourites[0].artist != null">{{fav.artist}}</td>
                    <td class="favName" data-toggle="collapse" data-target=".desci-{{$index}}"><p>{{fav.name}}</p>
                    <p class="collapse desci-{{$index}}" ng-show="viewState == 'audioprograms'" id="desc">Description</p>
                        <p ng-show="viewState == 'audioprograms'" class="collapse desci-{{$index}}">{{fav.description}}</p>
                    </td>
                    <td ng-show="favourites[0].length != null">
<p class="favTime">{{fav.length | trackTime}}</p>
                        <img ng-show="!showDelete" class="favPlay" src="../images/play.svg" ng-click="loadPlaylist(fav.id, fav.name, $index)"> 
                        <img class="theIkoni" ng-show="showDelete && viewState == 'musicpieces' || showDelete && viewState == 'audioprograms'" style="float:right" ng-src="{{showFavourite && '../images/favFavourite.svg' || '../images/cross.svg'}}" ng-click="showFavourite ? favourite(fav) : deleteFav(fav); showFavourite = !showFavourite"></td>
                    <td ng-show="viewState == 'recipes'"><p class="favDesc">{{fav.description}}</p>
                        <img ng-show="!showDelete" class="favPlay" src="../images/play.svg" ng-click="loadPlaylist(fav.id, fav.name, $index)">
                        <img ng-click="showFavourite ? favourite(fav) : deleteFav(fav); showFavourite = !showFavourite" class="theIkoni" ng-show="showDelete" style="float:right" ng-src="{{showFavourite && '../images/favFavourite.svg' || '../images/cross.svg'}}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>