<div id="login" class="container" ng-controller="LoginController" >
    <div class="loginContainer">
        <p class="loginTitle">Kirjaudu sisään</p>
        <form>
            Käyttäjänimi:<input class="logininput" type="text" id="username" name="username" placeholder="Käyttäjä" autocorrect="off" autocapitalize="off">
                <br>
            Salasana: <input class="logininput" type="password" id="password" name="password" placeholder="Salasana">
        </form>
            <button type="button" id="loginButton" ng-click="submit();" class="btn btn-primary">Kirjaudu</button>
    </div>
</div>