<div id="login" class="container" ng-controller="LoginController" >
    <div class="loginContainer">
        <p class="loginTitle">Login</p>
        <form>
            Username:<input class="logininput" type="text" id="username" name="username" placeholder="Username" autocorrect="off" autocapitalize="off">
                <br>
            Password: <input class="logininput" type="password" id="password" name="password" placeholder="Password">
        </form>
            <button type="button" id="loginButton" ng-click="submit();" class="btn btn-primary">Log In</button>
    </div>
</div>