<div id="menu">
	<div id="menuContainer container-fluid">
    	<div class="col-xs-12 col-sm-12 col-md-6">
    		<div class="menuButton">
				<img src="../images/favourite.svg" class="menuIcon">
				<br>
				<p class="textShadow">Favourites</p>
			</div>
		</div>
		<div class="clearfix hidden-xs-down visible-sm-block"></div>
    	<div class="col-xs-12 col-sm-12 col-md-6">
    		<div class="menuButton">
				<img src="../images/music_note.svg" class="menuIcon">
				<br>
				<p class="textShadow">Channels</p>
			</div>
    	</div>
  		<div class="clearfix hidden-xs-down visible-sm-block"></div>
    	<div class="col-xs-12 col-sm-12 col-md-6">
    		<div class="menuButton">
    			<img src="../images/books.svg" class="menuIcon">
				<br>
				<p class="textShadow">Daily content</p>
			</div>
		</div>
		<div class="clearfix hidden-xs-down visible-sm-block"></div>
    	<div class="col-xs-12 col-sm-12 col-md-6">
    		<div class="menuButton">
				<img src="../images/search.svg" class="menuIcon">
				<br>
				<p class="textShadow">Search</p>
			</div>
    	</div>
  	</div>
</div>