<div id="menu">
    <div id="menuContainer container-fluid">
        <div class="titleBar">
            <p class="textShadow" style="display: inline;">Menu</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">

            <div class="menuButton" ui-sref="favourites">
                <img src="../images/favourite.svg" class="menuIcon">
                <br>
                <p class="textShadow">Favourites</p>
            </div>
        </div>
        <div class="clearfix hidden-xs-down visible-sm-block"></div>
        <!-- Channels Button -->
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="menuButton" ui-sref="channels">
                <img src="../images/music_note.svg" class="menuIcon">
                <br>
                <p class="textShadow">Channels</p>
            </div>
        </div>
        <div class="clearfix hidden-xs-down visible-sm-block"></div>
        <!-- Daily Content Button -->
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="menuButton" ui-sref="daily">
                <img src="../images/books.svg" class="menuIcon">
                <br>
                <p class="textShadow">Daily content</p>
            </div>
        </div>
        <div class="clearfix hidden-xs-down visible-sm-block"></div>
        <!-- Search Button -->
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="menuButton" ui-sref="search">
                <img src="../images/search.svg" class="menuIcon">
                <br>
                <p class="textShadow">Search</p>
            </div>
        </div>
    </div>
    <div class="logout"><button type="button" class="btn btn-danger" ng-click="logout();">Kirjaudu Ulos</button></div>
</div>