<nav class="navbar navbar-default" role="navigation">
  <!--<div class="navbar-header pull-left">
      <a ui-sref="player"><img src="../images/music_note.svg" style="display: inline-block; height: auto; margin-top: 0px;">Player</a>
      <img ng-src='../images/play.svg' style="margin-top: -5px;">
  </div> -->
  <a class="navbar-brand" ui-sref="player">Moments</a>
    <div class="navbar-header pull-right" style="margin-top: 5px;">
      <!-- <a id="valikko" ui-sref="menu">Menu</a> -->
    </div>
</nav>