<div id="playerContainer" ng-controller="PlayerController">
    <div class="audio-info">
        <h1>Playlist Name</h1>
        <h2>Song Name - Artist Name</h2>
    </div>
    <div class="buttons">
        <div class="playerbutton" ng-click='audio.restart()'>
            <img src="../images/ic_skip_previous_white_48dp_2x.png">
        </div>
        <div class="playerbutton" ng-click='audio.paused ? audio.play() : audio.pause()'>
            <img id="play" ng-src="{{audio.paused && '../images/ic_play_circle_outline_white_48dp_2x.png' || '../images/ic_pause_circle_outline_white_48dp_2x.png'}}">
        </div>
        <div class="playerbutton" ng-click='audio.restart()'>
            <img src="../images/ic_skip_next_white_48dp_2x.png">
        </div>
    </div>

    <div class="input-group progress">
        <input type=range min=0 max='1' step=0.01 ng-model='audio.progress'>
        <div class="audio-duration">{{formatTime(audio.currentTime)}} /  {{audio.duration | trackTime}}</div>
    </div>
    
    <div class="feedback">
        <div class="feedback-button">Up</div>
        <div class="feedback-button">Down</div>
    </div>
</div>