<div id="playerContainer" ng-controller="PlayerController">
    <div class="audio-info">
        <h1>Playlist Name</h1>
        <h2>Song Name - Artist Name</h2>
    </div>
    <div class="buttons">
        <div class="playerbutton" ng-click='audio.restart()'>
            <img class="play" src="../images/ic_skip_previous_white_24px.svg">
        </div>
        <div class="playerbutton" ng-click='audio.paused ? audio.play() : audio.pause()'>
            <img class="play" ng-src="{{audio.paused && '../images/ic_audiotrack_white_24px.svg' || '../images/ic_pause_white_24px.svg'}}">
        </div>
        <div class="playerbutton" ng-click='audio.restart()'>
            <img class="play" src="../images/ic_skip_next_white_24px.svg">
        </div>
    </div>

    <div class="input-group progress">
        <div class="audio-duration">
            {{formatTime(audio.currentTime)}}
            <div id="proge">
                <input type=range min=0 max='1' step=0.01 ng-model='audio.progress'>  
            </div>
            {{audio.duration | trackTime}}
            </div>
    </div>
    
    <div class="feedback">
        <div class="feedback-button">Up</div>
        <div class="feedback-button">Down</div>
    </div>
</div>