<div id="searchContainer" ng-controller="SearchController" style="height: 100%;">
	
	<div class="container" id="searchbarContainer">
			<form class="form-inline">
				<input class="input-lg searchInput" type="text" placeholder="Search here" ng-model="searchQuery">
				<a class="clear close-icon" ng-click="searchQuery = null" ng-hide="hideRemoveBtn">
				    <span class="glyphicon glyphicon-remove"></span>
				</a>

				<div class="form-group">
					<input class="searchButton" value="Etsi reseptejä" type="submit" ng-click="searchRecipes()">
					<input class="searchButton" value="Etsi kappaleita" type="submit" ng-click="searchTracks()">
					<input class="searchButton" value="Etsi ohjelmia" type="submit" ng-click="searchPrograms()">
					<input class="searchButton" value="Etsi kategorioita" type="submit" ng-click="searchCategories()">
				</div>
			</form>
	</div>
	
	<div id="resultsContainer">
		<div id="searchResults" ng-repeat="res in searchResults | startFrom:currentResultPage*resultPageSize | limitTo:resultPageSize">
			<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-8" data-toggle="collapse" data-target=".resultDes-{{$index}}">
					<p id="resultName" style="display: inline-block;">{{res.name}}</p> 
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-4" id="descripButton" ng-show="res.description.length > 1">
                        <img class="searchDes" style="width: 30%;height: 30%;" src="../images/drop.svg">
                    </div>
					<p ng-show="res.artist != null" class="resultText">{{res.artist}} </p>
					<p class="collapse resultText resultDes-{{$index}}">{{res.description}} </p>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
                    <img class="searchPlay" id="searchFav{{$index}}" style="width: 40%;height: 40%; margin-right: 15px;" src="{{showFavourite && '../images/favFavourite.svg' || '../images/favourite.svg'}}" ng-click="showFavourite = true; showFav($index); favSearch(res);">
					<img class="searchPlay" style="width: 40%;height: 40%;" src="../images/play.svg" ng-click="loadPlaylist(res, $index)"> 
				</div>
			</div>
			<hr>
		</div>
	</div>
    <div id="pageNavContainer">
        <div id="searchNavButtonContainer" ng-show="searchResults.length > 4">
            <button class="searchButton" ng-disabled="currentResultPage == 0" ng-click="currentResultPage=currentResultPage-1">Edellinen</button>
            <button class="searchButton" ng-disabled="currentResultPage < 1" ng-click="currentResultPage = 0">1</button>

            <p class="searchText">Sivu {{currentPage()}}</p>

            <button class="searchButton" ng-disabled="currentResultPage >= searchResults.length/resultPageSize - 1" ng-click="currentResultPage = searchResults.length/resultPageSize-1">{{numberOfPages()}}</button> 
            <button class="searchButton" ng-disabled="currentResultPage >= searchResults.length/resultPageSize - 1" ng-click="currentResultPage=currentResultPage+1">Seuraava</button>
        </div>
    </div>
</div>