<div id="searchContainer" ng-controller="SearchController" >
    
	<div class="container" id="searchbarContainer">
		<div class="input-group input-group-lg col-xs-6 col-sm-6- col-md-6 col-lg-4">
		    <input class="form-control" type="text" placeholder="Search here" ng-model="searchQuery">
		    <div class="input-group-btn">
		    	<button class="btn btn-default " ng-click="getFromServer()">Get </button>
		    </div>

	    </div>
	</div>
    <div id="resultsContainer">
	    <div id="searchResults" ng-repeat="res in searchResults | startFrom:currentResultPage*resultPageSize | limitTo:resultPageSize">
	    	<div class="row">
		        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-8">
		        	<h4>{{res.recipeName}}</h4>
		        	<p>{{res.recipeDesc}} </p>
		    	</div>
		    	<div class="col-xs-2 col-sm-2 col-md-2 col-lg-4">
		    		<p> favourite button</p>
		    	</div>
		    </div>
		    <hr>
	    </div>

   <div>
	   	<button class="btn btn-default btn-lg" ng-disabled="currentResultPage == 0" ng-click="currentResultPage=currentResultPage-1">Edellinen</button>
	    <button class="btn btn-default btn-sm" ng-hide="currentResultPage < 1" ng-click="currentResultPage = 0">1</button> 

	    {{currentResultPage+1}}/{{numberOfPages()}}

	    <button class="btn btn-default btn-sm" ng-hide="currentResultPage >= searchResults.length/resultPageSize - 1" ng-click="currentResultPage = searchResults.length/resultPageSize-1">{{searchResults.length/resultPageSize}}</button> 
	    <button class="btn btn-default btn-lg" ng-disabled="currentResultPage >= searchResults.length/resultPageSize - 1" ng-click="currentResultPage=currentResultPage+1">Seuraava</button>
   </div>
   </div>
   

</div>