.playlist{
    background-color:(77, 104, 134 0.5);
    color: #3a4c81/*#000000*/;
    text-shadow: none;
    font-size: 24px;
    padding-right: 2%;
    padding-left: 2%;
    margin-top: 4%;
}
#theIkoni{
    width: 34px;
    height: 34px;
    color: blue;
}
.theIkoni{
    width: 38px;
    height: 38px;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
            filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
}
#desc{
    font-weight: bold;
}

.bigger{
    height: 50px;
    vertical-align: center;
}
.bigger td{
    text-align: left;
}
.remove{
    height: 50px;
    width: 50px;
    float: right;
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
            filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
}
.active-remove{
    float: right;
    gravity: bottom;
    height: 60px;
    width: 60px;
    margin-top: -10%;
}
footer{
    float: bottom;
}

#favourites-container{
    color: white;
}
h1{
    -webkit-filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
            filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
    margin-left: 2%;
    margin-top: none;
    margin-bottom: none;
}
header {
    text-align: center;
}
header h1 {
    display: inline-block;
}
#headeri{
    float:right;
    margin-top: none;
    margin-bottom: none;
}