::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #F06930;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    border-radius: 10px;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-left: 1px solid #ccc;
}

::-webkit-scrollbar-track-piece  {
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}