#searchContainer {
	position: relative;
	height: 100%;
    width: 100%;
}

#searchbarContainer {
    width: 100%;
}

#resultsContainer {
    padding-top: 20px;
	position: absolute;
	height: 80%;
	width: 90%;
	left: 5%;
	overflow-x: hidden;
	overflow-y: auto;
}

#pageNavContainer {
    width: 100%;
    display: inline-block;
    background: rgb(61, 92, 137);
	bottom: -20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	position: absolute;
}

.searchButton {
    color: white;
    font-size: 1.5em;
    padding: 10px;
    margin-right: 10px;
    text-shadow: 1px 4px 4px rgba(30, 30, 30, 0.51);
    
    display: inline-block;
    text-align: center;
    outline:none !important;
    
    -webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background: rgb(42, 55, 94);
	background: -moz-linear-gradient(90deg, rgb(42, 55, 94) 20%, rgb(61, 92, 137) 64%);
	background: -webkit-linear-gradient(90deg, rgb(42, 55, 94) 20%, rgb(61, 92, 137) 64%);
	background: -o-linear-gradient(90deg, rgb(42, 55, 94) 20%, rgb(61, 92, 137) 64%);
	background: -ms-linear-gradient(90deg, rgb(42, 55, 94) 20%, rgb(61, 92, 137) 64%);
	background: linear-gradient(0deg, rgb(42, 55, 94) 20%, rgb(61, 92, 137) 64%);
	-webkit-box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    1px 3px 6px rgba(50, 50, 50, 0.45);
	box-shadow:         1px 3px 6px rgba(50, 50, 50, 0.45);
}

.searchText {
    color: white;
    font-size: 2em;
    display: inline;
    margin-right: 10px;
    filter: drop-shadow( 2px 2px 2px rgba(50, 50, 50, 0.90) );
}

.searchInput {
    width: 60%;
}

.searchPlay {
    background-color: #F06930;
    border-radius: 50%;
	width: 50px;
	height: 50px;
    margin-top: 10px;
    -webkit-box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    1px 3px 6px rgba(50, 50, 50, 0.45);
	box-shadow:         1px 3px 6px rgba(50, 50, 50, 0.45);
}

#searchNavButtonContainer {
    width: 55%;
    margin: 0 auto; 
}

.resultText {
    font-size: 1.5em;
}

#resultName {
    font-size: 1.75em;
}